ion-segment {
  margin-top: 8px;
}

ion-segment-button {
  --indicator-color: #3880ff;
  font-size: 12px;
}

ion-card-title {
  font-weight: 600;
}
.mini-calendar {
  max-width: 320px;
  margin: auto;
  --background: #f9f9f9;
  border-radius: 12px;
}
