ion-card-title {
  font-weight: 600;
}

ion-badge {
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 12px;
}
.mini-calendar {
  max-width: 320px;
  margin: auto;
  --background: #f9f9f9;
  border-radius: 12px;
}
